

<h1>Chatter</h1>
<table (window:beforeunload)="leaveChat()">
  <ng-container *ngIf="chatId">
    <tr>
      ChatId:
      <input #txtChatId type="text" value="{{chatId}}" class="txt" />
    </tr>
  </ng-container>
  <tr class="trMenu">
    <td>
      <input #txtNickname type="text" name="txtNickname" placeholder="Nickname" class="txt" />
      <input #txtChatId type="text" name="txtChatId" placeholder="Chat ID (Leave blank to start a new chat)" class="txt" />
      <input type="button" name="btnStartJoin" value="Start/Join Chat" class="btn"
            (click)="startOrJoinChat(txtChatId.value, txtNickname.value)" />
      <input type="button" name="btnLeave" value="Leave Chat" class="btn" />
    </td>
  </tr>
  <tr class="trMessages">
    <td>
      <div #messagesContainer class="messagesContainer">
        <div *ngFor="let event of events">
          <div *ngIf="event.type == 'MESSAGE'">
            <div class="messageContainer"
                 [ngClass]="{'right' : userId == event.payload.senderId, 'left' : userId != event.payload.senderId}" >
              <div class="sender">
                {{getNicknameByMemberId(event.payload.senderId)}}
              </div>
              <div class="message">
                {{event.payload.message}}
              </div>
              <div class="datetime">
                {{formatDateTime(event.payload.dateTime)}}
              </div>
            </div>
          </div>
          <div *ngIf="event.type == 'MEMBER'">
            <div class="memberJoinedContainer">
              <div class="memberNickname">{{event.payload.nickname}} joined the chat.</div>
              <div class="memberJoinDate">{{formatDateTime(event.payload.joinDateTime)}}</div>
            </div>
          </div>
          <div *ngIf="event.type == 'LEFT_CHAT'">
            <div class="memberJoinedContainer">
              <div class="memberNickname">{{event.payload.nickname}} left the chat.</div>
              <div class="memberJoinDate">{{formatDateTime(event.payload.joinDateTime)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div #membersContainer class="membersContainer">
        <div style="margin: 10px 0px 0px 10px;">Chat Members:</div>
        <hr/>
        <div *ngFor="let event of events" style="margin: 10px 0px 0px 10px;">
          <div *ngIf="event.type == 'MEMBER' && didNotLeave(event.payload.id)">
            {{event.payload.nickname}}
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr class="trCompose">
    <td>
      <textarea #txtCompose class="txtCompose" name="txtCompose" (keydown.enter)="onKeydown($event)" (keyup.enter)="sendMessage(txtCompose.value)"></textarea>
    </td>
  </tr>
</table>
