<table (window:beforeunload)="leaveChat()" class="chatContainer">
  <tr>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
    <td width="8.33%"></td>
  </tr>

  <tr>
    <td colspan="12">
      <h1>Chatter</h1>
    </td>
  </tr>

  <tr>
    <td colspan="12">
      <input type="text" #nickname class="nickname" placeholder="Nickname" (keydown.enter)="preventDefault($event)" (keyup.enter)="startChat(nickname.value)"/>
    </td>
  </tr>
  <tr>
    <td colspan="10">
      <input type="text" #chatId class="chatId" placeholder="Chat ID (for joining)" value="{{formatChatId()}}" (keydown.enter)="preventDefault($event)" (keyup.enter)="joinChat(chatId.value, nickname.value)"/>
    </td>
    <td colspan="2">
      <button (click)="copyToClipboard(chatId)" value="Copy" class="copyChatId">Copy</button>
    </td>
  </tr>

  <tr>
    <td colspan="4">
      <div class="button newChat" (click)="startChat(nickname.value)">New</div>
    </td>
    <td colspan="4">
      <div class="button joinChat" (click)="joinChat(chatId.value, nickname.value)">Join</div>
    </td>
    <td colspan="4">
      <div class="button leaveChat" (click)="leaveChat()">Leave</div>
    </td>
  </tr>

  <tr>
    <td colspan="10">
      <div #messagesContainer class="messagesContainer">
        <div *ngFor="let event of events">
          <div *ngIf="event.type == 'MESSAGE'">
            <div class="messageContainer"
                 [ngClass]="{'right' : userId == event.payload.senderId, 'left' : userId != event.payload.senderId}" >
              <div class="sender">
                {{getNicknameByMemberId(event.payload.senderId)}}
              </div>
              <div class="message">
                {{parseMessage(event.payload.message)}}
              </div>
              <div class="datetime">
                {{formatDateTime(event.payload.dateTime)}}
              </div>
            </div>
          </div>
          <div *ngIf="event.type == 'MEMBER'">
            <div class="memberJoinedContainer">
              <div class="memberNickname">{{event.payload.nickname}} joined the chat.</div>
              <div class="memberJoinDate">{{formatDateTime(event.payload.joinDateTime)}}</div>
            </div>
          </div>
          <div *ngIf="event.type == 'LEFT_CHAT'">
            <div class="memberJoinedContainer">
              <div class="memberNickname">{{event.payload.nickname}} left the chat.</div>
              <div class="memberJoinDate">{{formatDateTime(event.payload.joinDateTime)}}</div>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td colspan="2">
      <div #membersContainer class="membersContainer">
        <div class="chatMembersHeader">Members:</div>
        <hr/>
        <div *ngFor="let event of events" class="chatMemberContainer">
          <div *ngIf="event.type == 'MEMBER' && didNotLeave(event.payload.id)">
            {{event.payload.nickname}}
          </div>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="9">
      <textarea #txtCompose class="txtCompose" name="txtCompose" (keydown.enter)="preventDefault($event)" (keyup.enter)="sendMessage(txtCompose.value)"></textarea>
    </td>
    <td colspan="3">
      <div class="button sendMessage" (click)="sendMessage(txtCompose.value)">Send</div>
    </td>
  </tr>
</table>
